h1 {
    font-family: Georgia;
}

.input_form {
    display: flex;
    gap: 25px;
    line-height: 1.5;
    padding: 10px;
}

.submission {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px;
}

input[type=submit] {
    width: 200px;
    height: 30px;
    background-color: #a4a4a4;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: #cccccc;
}
